body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: "Georgia", serif;
  color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  max-width: 700px;
  padding: 40px 20px;
  line-height: 1.6;
  text-align: justify; /* 👉 rend le texte justifié */
}

h1 {
  font-weight: normal;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  font-size: 2.2em;
}

p {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 1.5em;
  text-align: justify; /* Paragraphe justifié */
}

nav {
  margin-top: 20px;
  text-align: center ; /* Liens alignés à gauche */
  text-decoration: underline;
}

nav a {
  color: #0066cc;
  text-decoration: none;
  margin-right: 15px;
  font-size: 1em;
}

nav a:hover {
  text-decoration: underline;
}
